keyboard==0.13.5
MouseInfo==0.1.3
numpy==1.19.4
opencv-python==4.5.1.48
pandas==1.2.0
Pillow==8.1.0
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.7.2
pyperclip==1.8.1
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2020.5
selenium==3.141.0
six==1.15.0
urllib3==1.26.2
